/* Fondo general para toda la página */
.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/Users/test/IdeaProjects/virtual_pets_front/src/cueva_minions.jpg");
  transition: background-image 0.5s ease-in-out; /* Transición suave */
}

/* Si NO hay mascotas */
.no-pets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Imagen oculta cuando no hay mascotas */
.no-pets-image {
  display: none;
}

/* Título cuando no hay mascotas */
.no-pets-title {
  font-size: 1.5rem;
  color: #FBBF24;
  font-weight: bold;
  margin-top: 1rem;
}

/* Estilo del título cuando hay mascotas */
.pets-title {
  font-size: 1.5rem;
  color: #FBBF24;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Botón de crear mascota */
.create-pet-button {
  background-color: #FBBF24;
  width: 250px;
  color: #1E3A8A;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

.create-pet-button:hover {
  background-color: #F59E0B;
}

/* Contenedor de mascotas */
.pets-container {
  width: 100%;
  text-align: center;
}

/* Lista de mascotas */
.pets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

/* Tarjeta de mascota */
.pet-card {
  padding: 1rem;
  border: 3px solid #FBBF24;
  border-radius: 10px;
  transition: transform 0.3s ease;
  width: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pet-card:hover {
  transform: scale(1.05);
}

/* Imagen de la mascota */
.pet-card img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

/* Nombre de la mascota */
.pet-card-name {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

/* Botones de la tarjeta de mascota */
.pet-card-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.75rem;
}

.pet-card-button {
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  background: none;
}

/* Iconos de botones */
.view-button {
  color: #2563EB;
}

.edit-button {
  color: #10B981;
  font-size: 2rem; /* Icono más grande */
}

.delete-button {
  color: #EF4444;
}
